<!-- the login page -->


<div class="flex items-center justify-center w-full h-[100vh] bg-white">

    <!-- home button -->
     <button [routerLink]="['/home']" class="py-2 px-3 rounded-sm bg-gray-200 text-gray-800 flex items-center gap-2 text-xs md:text-sm absolute top-[10px] left-[10px]">
        <span class="mdi mdi-arrow-left"></span>
      <span >Home</span>
     </button>
    <!-- container containing the image and the form -->
     <div class="w-[90%] shadow-2xl xl:w-[900px] h-[80vh] flex items-center rounded-sm">
        <!-- the form box -->
         <div class="w-full md:w-[50%]  h-full " >
              <div class="relative  w-[77px] my-5 mx-3">
        <a routerLink="/home" Direction="forward" class="uppercase font-extrabold tracking-widest text-xs relative z-10 cursor-pointer"  style="
        text-shadow:
          2px 2px 0 white,
          -2px 2px 0 white,
          -2px -2px 0 white,
          2px -2px 0 white,
          0 2px 0 white,
          2px 0 0 white,
          -2px 0 0 white,
          0 -2px 0 white;
      ">MXSHOP</a>
        <span class="inline-block w-[12px] h-[12px] rounded-full absolute top-[1px] right-[13px] bg-primary"></span>
       </div>
       <!-- the form -->
        <div class="flex items-center justify-center w-full mt-4">
            <div class="w-[85%] flex flex-col gap-3 items-center justify-center">
                <div>
                    <h3 class="text-lg text-center font-semibold ">Welcome Back</h3>
                    <p class="text-gray-500 text-sm  mt-2 text-center">Please enter your details to login</p>
                </div>
                <div class="my-2 text-center">
                    <p class="text-[13px] text-red-500" > {{loginErrorMessage}} </p>
                </div>

                <!-- the form -->
                 <div>
                    <form action="" [formGroup]="loginForm">
                        <div class="my-2">
                            <label class="inline-block w-full text-sm text-tertiary" for="email">Email</label>
                            <input class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700  w-full " type="email"  id="email" formControlName="email" />
                            <div *ngIf="Fields['email']['errors'] && Fields['email']['touched']" class="py-1">
                                <p *ngIf="Fields['email']['errors']['required']" class="text-red-500 text-xs">Email is required</p>
                                <p *ngIf="Fields['email']['errors']['email']" class="text-red-500 text-xs">must be valid email and not more than 255 characters</p>
                            </div> 
                        </div>
                        <div class="my-2">
                            <div class="relative">
                                <label class="inline-block w-full text-sm text-tertiary" for="password">Password</label>
                                <input class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700  w-full pr-8 " [type]="type"  id="password" formControlName="password" />
                                <span [className]="type === 'password' ? 'mdi mdi-eye-off absolute bottom-[3px] right-[4px] cursor-pointer' : 'mdi mdi-eye absolute bottom-[3px] right-[4px] cursor-pointer' " (click)="togglePassword()"></span>
                            </div>
                            <div *ngIf="Fields['password']['errors'] && Fields['password']['touched']" class="py-1">
                                <p *ngIf="Fields['password']['errors']['required']" class="text-red-500 text-xs">Password is required</p>  
                            </div> 
                        </div>
                        <div class="mb-2 mt-5 flex items-center justify-end text-[13px] text-gray-800">
                           <a class="underline underline-offset-2"
                           routerLink="/forgot-password">forgot Password ?</a>
                        </div> 

                        <!-- the button to send the details  -->
                         <div class="mt-8">
                          @if (loading === false) {
                            <button  class=" w-full py-2 rounded-sm text-white bg-primary text-sm  text-center uppercase"  [disabled]="!loginForm.valid" (click)="submitLoginForm()">
                                Login
                            </button>
                          }@else {
                            <button  class=" w-full py-2 rounded-sm text-white bg-primary text-sm  flex items-center justify-center">
                                <div class="spinner"> 
                                </div>
                            </button>
                          }
                         </div>

                         <div class="mt-5 text-center">
                          <p class="text-sm text-tertiary">
                            Don't have an account ? 
                            <button routerLink="/sign-up" class="text-gray-800 underline underline-offset-2"> register here</button>
                          </p>

                         </div>
                    </form>
                 </div>
          
            </div>


        </div>

         </div>
         <div class="hidden md:block md:w-[50%] bg-tertiary h-full overflow-hidden z-40 rounded-sm">
           <img src="/auth-images/login.jpg" alt="...login-image" class="w-full h-full object-center object-cover" loading="eager"/>
         </div>

     </div>

</div>