<app-navbar></app-navbar>
<div class="min-h-[88vh] bg-secondary w-full px-4 md:px-[3%] xl:px-[8%] py-[3%]">
    <div class="py-5 border-b-solid border-b-[0.1px] border-b-gray-300">
        <p class="text-2xl sm:text-3xl lg:text-4xl font-thin">Shipping</p>
       
      </div>
    <div class="my-[2%] flex flex-col lg:flex-row gap-3 lg:gap-8 w-[100%]">
        <div class="bg-white rounded-sm shadow-lg w-full lg:w-[70%] min-h-[20rem] md:min-h-[30rem] p-6 flex flex-col gap-2">
            <span class="text-black pb-3 border-b-solid border-b-[0.4px] border-b-gray-300">Billing Address</span>

            <!-- the form and form fields  -->
             <form  class="py-3 grid grid-cols-1 md:grid-cols-2 gap-4">

                <div class="my-2 w-full">
                    <label class="inline-block w-full mb-1 text-gray-500">Full Name *</label> 
                    <input type="text" class="outline-none py-2 text-[15.5px] px-3 border-solid border-[0.5px] border-gray-400 text-black w-full" >
                </div>
              
              
             </form>


        </div>
        <div class="bg-white rounded-sm shadow-lg w-full lg:w-[30%] h-[21rem] flex flex-col gap-3 p-5 lg:sticky lg:top-[12vh]">
        
       </div>  

</div>