<div class="w-full h-[100vh] flex items-center justify-center bg-[whitesmoke]">
  <!-- the card  -->
  <div
    class="w-[95%] sm:w-[400px] bg-white min-h-[20rem] shadow-xl rounded-sm py-5 px-10"
  >
    <div class="text-center text-2xl">
      <span class="mdi mdi-lock"></span>
    </div>

    <!-- the authenticated email section -->
    <div>
      <div class="text-center text-semibold text-lg mt-3">
        <h5>Pin Verification</h5>
        <p class="text-xs text-tertiary">
          6 digit pin has been sent to your email
        </p>
      </div>
      <!-- error message -->
      <div class="py-2 text-center text-xs text-red-500">
        {{errorMessage}}
      </div>

      <!-- the input fields to handle that  -->
      <form [formGroup]="SixdigitPinForm">
        <div
          class="flex items-center gap-2 justify-evenly w-full h-full overflow-hidden mt-4"
        >
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text1
            (keyup)="autoFocus($event, '', text1, text2)"
            formControlName="one"
          />
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text2
            (keyup)="autoFocus($event, text1, text2, text3)"
            formControlName="two"
          />
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text3
            (keyup)="autoFocus($event, text2, text3, text4)"
            formControlName="three"
          />
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text4
            (keyup)="autoFocus($event, text3, text4, text5)"
            formControlName="four"
          />
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text5
            (keyup)="autoFocus($event, text4, text5, text6)"
            formControlName="five"
          />
          <input
            class="py-2 w-full border-solid border-[1px] border-gray-500 rounded-sm text-sm text-center outline-none focus:border-primary focus:text-primary"
            type="text"
            maxlength="1"
            #text6
            (keyup)="autoFocus($event, text5, text6, '')"
            formControlName="six"
          />
        </div>
        <div class="my-5">
          <button
            (click)="handleSixDigit()"
            [disabled]="!SixdigitPinForm.valid"
            class="w-full text-white rounded-sm py-2 bg-primary text-center flex items-center justify-center"
            *ngIf="processingType === 'email-verification'"
          >
            @if(!loading){
              Submit
            }@else {
              <span class="spinner"></span>
            }
          </button>
        </div>
      </form>

      <form [formGroup]="PasswordForm" *ngIf="processingType === 'forgot-password'">
        <div class="my-2">
            <div class="relative">
              <label
                class="inline-block w-full text-sm text-tertiary"
                for="password"
                >Password</label
              >
              <input
                class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700 w-full pr-8"
                [type]="type"
                id="password"
                formControlName="password"
              />
              <span
                [className]="
                  type === 'password'
                    ? 'mdi mdi-eye-off absolute bottom-[3px] right-[4px] cursor-pointer'
                    : 'mdi mdi-eye absolute bottom-[3px] right-[4px] cursor-pointer'
                "
                (click)="togglePassword()"
              ></span>
            </div>
            <div
              *ngIf="
                Fields['password']['errors'] &&
                Fields['password']['touched']
              "
              class="py-1"
            >
              <p
                *ngIf="Fields['password']['errors']['required']"
                class="text-red-500 text-xs"
              >
                Password is required
              </p>
              <p
                *ngIf="Fields['password']['errors']['minlength']"
                class="text-red-500 text-xs"
              >
                Must be 8 or more characters
              </p>
            </div>
          </div>
          <div class="my-2">
            <div class="relative">
              <label
                class="inline-block w-full text-sm text-tertiary"
                for="password"
                >Confirm Password</label
              >
              <input
                class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700 w-full pr-8"
                type="password"
                id="password"
                formControlName="confirmPassword"
              />
            </div>
            <div
              *ngIf="
                Fields['confirmPassword']['errors'] &&
                Fields['confirmPassword']['touched']
              "
              class="py-1"
            >
              <p
                *ngIf="Fields['confirmPassword']['errors']['required']"
                class="text-red-500 text-xs"
              >
                Retype your password
              </p>
            </div>
            <div *ngIf="Fields['confirmPassword']['touched']" class="my-1">
              <p
                *ngIf="PasswordForm.errors?.['mismatch']"
                class="text-red-500 text-xs"
              >
                Passwords do not match
              </p>
            </div>
          </div>
        <div class="mt-8">
          <button
         
            class="bg-primary text-white text-sm text-center py-2 rounded-sm w-full"
            [disabled]="!PasswordForm.valid && !SixdigitPinForm.valid"
          >
          @if(!loading){
            Submit
          }@else {
            <span class="spinner"></span>
          }
          </button>
        </div>
      </form>
      

      <!-- facing issues  -->
      <div class="text-sm text-tertiary text-center py-3">
        <span>Are you facing any problems receiving the code ?  </span>
        <button class="text-gray-700  underline underline-offset-2 "> Resend Code</button>
      </div>
    </div>
  </div>
</div>
