<app-navbar></app-navbar>

<div class="px-4 md:px-[3%] xl:px-[8%]  w-full py-5" *ngIf="singleProduct">
    <div class="w-full grid grid-cols-2 sm:gap-2 md:gap-4" >
        <!-- The image part  -->
        <div class="w-full bg-secondary rounded-sm min-h-[18rem] sm:min-h-[22rem] md:min-h-[26rem] xl:min-h-[30rem] max-h-[30rem] flex items-center justify-center">
            <img src="{{singleProduct.image}}" alt="..product-image" class="w-[80%] h-[80%] object-center object-contain rounded-sm">
        </div>
        <!-- the details of the product -->
        <div class="w-full shadow-sm bg-white min-h-[20rem] sm:min-h-[22rem] md:min-h-[26rem] xl:min-h-[30rem] px-2 sm:px-4 md:px-5 xl:px-7 py-3 flex flex-col justify-evenly items-center lg:items-start">
            <h1 class="text-xs sm:text-sm md:text-[16px] xl:text-xl">{{singleProduct.name}}</h1>
            <!-- reviews part -->
             <div class="flex items-center gap-3 justify-between text-xs sm:text-sm md:text-[16px] w-full">
                <h3 class="text-gray-500" >Stock : <span class="text-black">{{singleProduct.stock}}</span> </h3>
                <h3 class="text-gray-500 text-xs md:text-sm xl:text-[15px] cursor-pointer">Reviews<span class="text-black">({{singleProduct.reviews.length}})</span></h3>
             </div>

             <div class="flex items-center gap-2 sm:gap-3 md:gap-4 text-xs sm:text-[15px] md:text-[18px]">
                @if(singleProduct.discountPrice){
                    <b class="font-bold">Price : ${{singleProduct.discountPrice}}</b>
                    <span class="line-through text-gray-500">${{singleProduct.price}}</span>
                }@else {
                    <b class="font-bold">Price : ${{singleProduct.price}}</b>
                }
             </div>
            
             <div class="w-full h-[1px] bg-gray-400"></div>

             <div class="flex items-center gap-2 sm:gap-4 md:gap-5 xl:gap-7">
                <div class="flex items-center gap-1 sm:gap-2 text-sm">
                    <button (click)="decreaseQuantity()" class="py-1 px-2 sm:py-2 sm:px-3 bg-secondary rounded-sm border-solid border-[0.1px]">-</button>
                    <h3 class="rounded-sm py-1 sm:py-2 px-2 sm:px-3 border-solid border-[0.1px]">{{quantity}}</h3>
                   <button (click)="increaseQuantity()" class="py-1 px-2 sm:py-2 sm:px-3  bg-secondary rounded-sm border-solid border-[0.1px]">+</button>
                </div>
                <button (click)="addItemToCart(singleProduct)"  class="flex items-center gap-2 py-2 px-3 bg-black rounded-sm text-white text-sm">
                    <span class="hidden sm:block">Add to cart</span>
                    <span class="mdi mdi-cart-plus"></span>
                </button>
             </div>

        </div>

    </div>
    <!-- other images and product description -->
     <div class="w-full grid grid-cols-1 md:grid-cols-2 sm:gap-2 md:gap-4 mt-2 lg:mt-4">
        <!-- related images section -->
         <div class="w-full  h-[7rem] sm:h-[8rem] lg:h-[9rem] xl:h-[10rem] grid grid-cols-4 gap-2 lg:gap-4">
            <div class="w-full h-full overflow-hidden flex items-center justify-center bg-secondary cursor-pointer">
                <img src="home-images/hero-image.png" alt="...related-image" class="w-[90%] h-[90%] xl:w-[80%] xl:h-[80%]  object-contain" loading="lazy">
            </div>
         </div>
         <!-- the product description here -->
          <div class="p-3 text-[13px] sm:text-sm lg:text-[15px]">
            <h1 class="font-semibold text-sm sm:text-[15px] md:text-[16px] py-2">About this Item</h1>
            <p> {{singleProduct.description}} </p>
          </div>
     </div>
</div>
