<div class="w-full min-h-[100vh] bg-secondary">
  <app-navbar></app-navbar>
  <div class="w-full px-4 md:px-[3%] xl:px-[8%] py-[3%]">
    <!-- the back button  -->
    <div
      class="flex items-center text-sm md:text-[16px] cursor-pointer"
      (click)="goBack()"
    >
      <span class="mdi mdi-chevron-left"></span>
      <span>Back</span>
    </div>

    <!-- Your cart header -->
    <div class="py-5">
      <p class="text-2xl sm:text-3xl lg:text-4xl font-thin">Order Details</p>
    </div>

    <!-- the cart container -->
    <div class="my-[2%] flex flex-col lg:flex-row gap-3 lg:gap-5 w-[100%]">
      <div
        class="bg-white rounded-sm shadow-lg w-full lg:w-[70%] min-h-[20rem] md:min-h-[30rem] p-6 flex flex-col gap-2"
      >
        @if(!loading){ @if(this.orderItems.length > 0){ @for(item of orderItems
        ; track $index){
        <!-- the list of orders heres  -->
        <div
          class="py-3 border-b-solid border-b-[0.5px] border-b-gray-200 min-h-[8rem] w-full"
        >
          <!-- the image and text  -->
          <div class="flex items-start gap-5 justify-between">
            <!-- the image -->
            <div class="flex items-center gap-5 w-full">
              <img
                src="{{ item.product.image }}"
                alt="...cart-image"
                class="w-[100px] h-[100px] object-cover object-center rounded-sm"
              />

              <!-- the name and others -->
              <div class="flex flex-col gap-3 w-full">
                <h3 class="text-sm sm:text-[16px] text-wrap">
                  {{ item.product.name | truncate : 50 }}
                </h3>
                <b class="lg:hidden">
                  @if(item.product.discountPrice){
                  <span>Subtotal : ${{ item.product.discountPrice * item.quantity }} </span>
                  }@else {
                    <span>Subtotal : ${{ item.product.price * item.quantity }} </span>
                  }
                </b>
                <p> <span class="text-gray-600">Quantity</span> : {{item.quantity}}</p>
                <p><span class="text-gray-600">Order Status</span>: {{item.orderStatus}}</p>
              </div>
            </div>
            <div class="lg:block hidden">
              <div class="text-sm">
                @if(item.product.discountPrice){
                Subtotal 
                <span class="font-bold text-primary text-[17px]">${{ item.product.discountPrice * item.quantity }}</span>
                }@else {
                Subtotal
                <span class="font-bold text-primary text-[17px]">${{ item.product.price * item.quantity }}</span>
                }
              </div>
            </div>
          </div>
        </div>
        }
        <div class="py-4 flex items-center justify-end" *ngIf="totalPages > 1">
          <div class="flex items-center gap-2">
            <button (click)=" fetchPrevPage()"  *ngIf="currentPage > 1"  class="py-2 bg-secondary text-black text-[14px] px-2 rounded-sm">
              Prev
            </button>
             <div class="flex items-center gap-1 text-sm">
              <span>{{currentPage}}</span>
              <span>of</span>
              <span>{{totalPages}}</span>
             </div>
            <button *ngIf="currentPage < totalPages" (click)="fetchNextPage()" class="py-2 bg-secondary text-black text-[15px] px-2 rounded-sm">
              Next
            </button>
          </div>
        </div>
       }

       }@else {
        <div class="w-full flex items-center justify-center h-full">
          <div
            class="spinner"
            style="border-top-color: black; width: 40px; height: 40px"
          ></div>
        </div>
        }
      </div>
      <div
        class="bg-white rounded-sm shadow-lg w-full lg:w-[30%] h-[23rem] flex flex-col gap-3 p-5 lg:sticky lg:top-[12vh]"
      >
        <h1 class="pb-3 border-b-[0.5px] border-b-gray-300">
          Shipping Address
        </h1>
        <div
          class="flex flex-col flex-wrap justify-center gap-3 text-sm sm:text-[15px] lg:text-[16px] bg-secondary p-4 rounded-sm"
        >
          <p class="text-gray-600">
            <span class="text-black">Name : </span> {{ orderAddress.fullName }}
          </p>
          <p class="text-gray-600">
            <span class="text-black">Telephone : </span>
            {{ orderAddress.phone }}
          </p>
          <p class="text-gray-600">
            <span class="text-black">Address1 : </span>
            {{ orderAddress.address1 }}
          </p>
          <p *ngIf="orderAddress.address2" class="text-gray-600">
            <span class="text-black">Address2 : </span>
            {{ orderAddress.address2 }}
          </p>
          <p class="text-gray-600">
            <span class="text-black">Country : </span>
            {{ orderAddress.country }}
          </p>
          <p class="text-gray-600">
            <span class="text-black">State/Region : </span>
            {{ orderAddress.state }}
          </p>
          <p class="text-gray-600">
            <span class="text-black">City : </span> {{ orderAddress.city }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

Lorem ipsum dolor sit, amet 
