<div class="w-full min-h-[100vh] bg-secondary">
    <app-navbar></app-navbar>
    <div class="w-full px-4 md:px-[3%] xl:px-[8%] py-[3%]">
     

         <!-- Your orders header -->
          <div class="py-5">
            <p class="text-2xl sm:text-3xl lg:text-4xl font-thin">Your Orders</p>
          </div>

          <!-- the cart container -->
           <div class="bg-white rounded-sm shadow-lg min-h-[30rem] p-5">

            @if(orders.length === 0) {
              
            <div class="py-7">
              You have no order items ...
            </div>
            }

            <div *ngIf="loaders.allOrders" class="flex items-center justify-center w-full py-5">
              <div class="spinner" style="width: 35px ; height : 35px ; border-top-color: black;">

              </div>
            </div>

            @if (orders.length > 0) {
              <div class="overflow-x-auto">
                <table class="min-w-full whitespace-nowrap">
                  <thead>
                    <tr class="bg-black text-white rounded-sm">
                      <th class="px-4 py-2">#</th>
                      <th class="px-4 py-2">Order Details</th>
                      <th class="px-4 py-2">Order Items</th>
                      <th class="px-4 py-2">Total Price</th>
                      <th class="px-4 py-2">Payment Method</th>
                      <th class="px-4 py-2">Reference</th>
                      <th class="px-4 py-2">Payment Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (item of orders; track $index) {
                      <tr class="border-b text-sm md:text-[15px] lg:text-[16px]">
                        <td  class="px-4 py-3">{{$index + 1}}</td>
                        <td class="px-4 py-3">
                          <a (click)="handleOrderDetails(item.order_shipping_address , item.id)"  class="cursor-pointer underline hover:text-primary transition duration-150 ease-in-out">view details</a>
                        </td>
                        <td class="px-4 py-3">{{item.orderItemCount}}</td>
                        <td class="px-4 py-3">$ {{item.totalPrice}}</td>
                        <td class="px-4 py-3 capitalize">
                        
                            <img *ngIf="item.paymentMethod === 'paystack'" src="payment-images/paystack-logo.svg" alt="paystack" class="w-[70px] h-[70px] object-contain object-center">
                         
                            <img *ngIf="  item.paymentMethod === 'stripe'" src="payment-images/stripe-logo-3.png" alt="paystack" class="w-[70px] h-[70px] object-contain object-center">

                        </td>
                        <td class="px-4 py-3">{{item.transactionRef}}</td>
                        <td class="px-4 py-3">{{item.paymentDate | date : 'dd-MM-yy' }} <td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            }@else {

            }
          
           </div>
    </div>

</div>
<app-footer></app-footer>
lorem6
Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
Lorem 