<div class="w-full h-[100vh] flex items-center justify-center bg-[whitesmoke] relative">
      <!-- the card  -->
      <div class="w-[95%] sm:w-[400px] bg-white min-h-[23rem] shadow-xl rounded-sm py-5 px-10">
        <div class="text-center text-2xl">
          <span class="mdi mdi-lock"></span>
        </div>
    
        <!-- the forgot password section -->
        <div>
          <!-- title of the page  -->
          <div class="text-center text-semibold text-lg mt-3">
            <h5>Password</h5>
            <p class="text-xs text-tertiary">
             Enter new password 
            </p>
          </div>
  
          <div class="py-2 text-xs text-red-500 text-center" >
              {{errorMessage}}
          </div>
    
          <!-- enter your email field -->
    
          <form [formGroup]="PasswordForm" (ngSubmit)="handleNewPassword()">
            <div class="my-2">
                <div class="relative">
                  <label
                    class="inline-block w-full text-sm text-tertiary"
                    for="password"
                    >Password</label
                  >
                  <input
                    class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700 w-full pr-8"
                    [type]="type"
                    id="password"
                    formControlName="password"
                  />
                  <span
                    [className]="
                      type === 'password'
                        ? 'mdi mdi-eye-off absolute bottom-[3px] right-[4px] cursor-pointer'
                        : 'mdi mdi-eye absolute bottom-[3px] right-[4px] cursor-pointer'
                    "
                    (click)="togglePassword()"
                  ></span>
                </div>
                <div
                  *ngIf="
                    Fields['password']['errors'] &&
                    Fields['password']['touched']
                  "
                  class="py-1"
                >
                  <p
                    *ngIf="Fields['password']['errors']['required']"
                    class="text-red-500 text-xs"
                  >
                    Password is required
                  </p>
                  <p
                    *ngIf="Fields['password']['errors']['minlength']"
                    class="text-red-500 text-xs"
                  >
                    Must be 8 or more characters
                  </p>
                </div>
              </div>
              <div class="my-2">
                <div class="relative">
                  <label
                    class="inline-block w-full text-sm text-tertiary"
                    for="password"
                    >Confirm Password</label
                  >
                  <input
                    class="border-b-solid border-b-tertiary border-b-[0.5px] pb-1 outline-none text-sm text-gray-700 w-full pr-8"
                    type="password"
                    id="password"
                    formControlName="confirmPassword"
                  />
                </div>
                <div
                  *ngIf="
                    Fields['confirmPassword']['errors'] &&
                    Fields['confirmPassword']['touched']
                  "
                  class="py-1"
                >
                  <p
                    *ngIf="Fields['confirmPassword']['errors']['required']"
                    class="text-red-500 text-xs"
                  >
                    Retype your password
                  </p>
                </div>
                <div *ngIf="Fields['confirmPassword']['touched']" class="my-1">
                  <p
                    *ngIf="PasswordForm.errors?.['mismatch']"
                    class="text-red-500 text-xs"
                  >
                    Passwords do not match
                  </p>
                </div>
              </div>
            <div class="mt-8">
              <button
             
                class="bg-primary text-white text-sm text-center py-2 rounded-sm w-full"
                [disabled]="!PasswordForm.valid"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    
    