/* You can add global styles to this file, and also import other style files */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";






*{
    box-sizing: border-box; 
    padding:  0; 
    margin: 0 ; 
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth!important;
    scroll-margin-top: 10vh !important;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: white; /* iOS blue */
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
  }

  .no-scrollbar {
    scroll-behavior:  smooth;
     
     /* Hide scrollbar for Firefox */
     scrollbar-width: none;
     
     /* Hide scrollbar for Webkit-based browsers */
     -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
   }
   
   .no-scrollbar::-webkit-scrollbar {
     display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
   }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }



  