<app-navbar />
<div class="w-full h-[70vh] bg-secondary pt-5 grid grid-cols-1 md:grid-cols-2 gap-3 px-4 md:px-[3%]">
    <!-- the text box  -->
     <div class="w-full h-full bg-blue-500 flex items-center justify-center">
        <div class="w-[80%] capitalize text-xl flex flex-col gap-8 justify-center">
            <h3>Rich Watch</h3>
            <h1  class="text-3xl md:text-[2.5rem] xl:text-[4rem] 2xl:text-[5rem] font-extrabold tracking-wider">Sale 35% off</h1>
            <p>Make a rich life </p>
            <div>
                <button class="bg-black text-white py-2 px-5 rounded-sm">
                    shop now 
                </button>
            </div>
        </div>

     </div>

     <!-- the image  -->
      <div class="w-full h-full bg-red-500">

      </div>

</div>
<router-outlet />
