<app-navbar />
<div class="w-full h-[50vh] bg-secondary  grid grid-cols-1 md:grid-cols-2 md:gap-3 px-4 md:px-[3%] xl:px-[8%]">
    <!-- the text box  -->
     <div class="w-full h-full flex items-center justify-center py-5">
        <div class="w-[80%] capitalize text-xl flex flex-col gap-8 justify-center items-center md:items-start">
            <h3>Rich Watch</h3>
            <h1  class="text-3xl md:text-[2.5rem] xl:text-[3.8rem] font-extrabold tracking-wide uppercase">Sale 35% <span class="text-primary line-through">off</span> </h1>
            <p>Make a rich life </p>
            <div>
                <button class="bg-primary text-white py-2 px-5 rounded-sm shadow-lg text-lg">
                    shop now 
                </button>
            </div>
        </div>
     </div>

     <!-- the image  -->
      <div class="w-full h-full overflow-hidden flex items-center justify-center md:justify-start">
        <img src="home-images/hero-image.png" alt="..hero-image" class="h-full w-[80%] object-contain">
      </div>
</div>

<!-- the two boxes  -->
<div class="px-4 md:px-[3%] xl:px-[8%] grid grid-cols-1 md:grid-cols-2 gap-5 py-8 md:py-[4%]">
    <div class="min-h-[18rem] bg-secondary w-full rounded-sm flex items-center gap-2">
        <div class="w-1/2 h-full flex items-center justify-center">
            <div class="w-[80%]">
                <h1 class="font-bold xl:text-xl  tracking-wide">Best Deals</h1>
                <p class="mt-4 text-sm xl:text-[16px]">Shop top products at the lowest prices—limited time only!</p>
                <button class="mt-4 py-2 px-3 bg-black text-white text-sm md:text-[16px] flex items-center gap-1">
                    <span>Deals</span>
                    <span class="mdi mdi-arrow-right"></span>
                </button>
            </div>
        </div>
        <div class="w-1/2 h-full overflow-hidden flex items-center">
           <img src="home-images/electronics.jpg" class="h-full w-[90%] object-contain rounded-sm object-center"  alt="...best-deal image">
        </div>
        
    </div>
    <div class="min-h-[18rem] bg-secondary w-full rounded-sm flex items-center gap-2">
        <div class="w-1/2 h-full flex items-center justify-center">
            <div class="w-[80%]">
                <h1 class="font-bold xl:text-xl  tracking-wide">New 
                    Arrivals
                </h1>
                <p class="mt-4 text-sm xl:text-[16px]">Explore the latest trends and must-have products—just in! </p>
                <button class="mt-4 py-2 px-3 bg-black text-white text-sm md:text-[16px] flex items-center gap-1">
                    <span>Arrivals</span>
                    <span class="mdi mdi-arrow-right"></span>
                </button>
            </div>
        </div>
        <div class="w-1/2 h-full overflow-hidden flex items-center">
            <img src="home-images/one.jpg" class="h-full w-[90%] object-contain rounded-sm object-center"  alt="...best-deal image">
        </div>
    </div>
   </div>

   <!-- the product category part  -->
    <div class="px-4 md:px-[3%] xl:px-[8%] bg-secondary py-[3%] h-auto">
        <h1 class="text-center font-bold tracking-wide text-lg sm:text-xl md:text-2xl py-3 capitalize-">Browse Categories</h1>
            <div class="flex items-center justify-between gap-5  w-full overflow-auto no-scrollbar" #scrollContainer>
               @if(categoryItems.length > 0){
                 @for (item of categoryItems; track $index) {
                   <div class="flex flex-col gap-1  items-center">
                    <div class="w-[60px] h-[60px] sm:w-[90px] sm:h-[90px] md:w-[100px] md:h-[100px] rounded-full flex items-center justify-center">
                    <img src="{{item.image}}" alt="..category-image" class="text-xs w-full h-full object-cover  rounded-full">
                    </div>
                    <h2 class="text-[13.5px] sm:text-sm text-center">{{item.name}}</h2>
                   </div>
                }
               
               }@else {
                <div class="flex items-center justify-center py-3  w-full">
                    <div class="spinner" style="border-top-color : black ; width: 40px ; height: 40px ">

                    </div>
                </div>
               }
               </div>
                <div class="flex items-center justify-between px-2 py-3" *ngIf="categoryItems.length > 0">
                <button (click)="handleScroll('previous')"  class="  w-[30px] h-[30px]  sm:w-[40px] sm:h-[40px]  top-[50%] left-[3%]  bg-primary text-white  rounded-full text-sm">
                    <span class="mdi mdi-arrow-left"></span>
                </button>
                <button (click)="handleScroll('next')" class="w-[30px] h-[30px] sm:w-[40px] sm:h-[40px]  top-[50%] right-[3%]  rounded-full bg-primary text-white text-sm">
                    <span class="mdi mdi-arrow-right"></span>
                </button>
               </div>
    </div>

    <!-- the products  -->
     <div class="px-4 md:px-[3%] xl:px-[8%]" >
        <h1 class="text-center font-bold tracking-wide text-lg sm:text-xl md:text-2xl py-5 pb-3 capitalize">Featured Collection</h1>

     
        <div class="py-5 grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3 xl:grid-cols-3 gap-3 md:gap-5">
            @for (item of categoryItems; track $index) {
                <div class="w-full h-[23rem] bg-white shadow-lg rounded-sm">
                    <div class="w-full h-[60%] overflow-hidden flex items-center justify-center bg-secondary cursor-pointer">
                        <img src="home-images/electronics.jpg" alt="...product-image" class=" w-[80%] h-[80%] object-contain object-center rounded-sm">
                    </div>
                    <div class="w-full h-[40%] py-3 px-5 flex flex-col justify-center items-center gap-3">
                        <h3 class="text-sm md:text-[16px] font-semibold">Product Name</h3>
                        <p class="text-xs sm:text-sm text-center text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, asperiores.</p>
                       <div class="flex items-center justify-between w-full px-1">
                        <div class="flex items-center gap-2 text-sm">
                            <h3 class="text-black">$400</h3>
                            <h5 class="text-gray-500 line-through">$600</h5>
                        </div>
                        <button class="px-4 py-2 text-xs sm:text-sm bg-black text-white rounded-sm">
                            <span class="mdi mdi-cart-plus"></span>
                        </button>
                       </div>
                    </div>
    
                </div>

            } 
        </div>
        <div class="py-5 w-full flex items-center justify-center">
            <button class="py-2 rounded-sm bg-black text-white text-sm px-3">
                Browse More
            </button>
           </div>
      </div>

      <!-- the subscribe part -->
      <div class="px-4 md:px-[3%] xl:px-[8%] h-[15rem] md:h-[20rem] lg:h-[24rem] xl:h-[26rem] w-full py-[5%] ">
        <div class="rounded-sm w-full h-full" style="background-image: url('home-images/newletter.jpg'); background-position : bottom ;background-repeat: no-repeat; background-size: cover;">
            <div class="w-full h-full flex items-center px-5 xl:px-10 py-4 ">
                <div class="flex flex-col justify-center gap-3">
                    <h3 class="text-sm md:text-lg font-bold uppercase">Get weekly updates </h3>
                    <div class="py-2 flex flex-col sm:flex-row justify-center gap-2">
                        <input  class="input-field py-2 px-3 text-sm outline-none  w-[160px] border-solid border-[0.3px] border-gray-500 input" placeholder="user@email.com">
                        <button class="py-2 px-3 text-sm text-white bg-primary">
                            Subscribe
                        </button>

                    </div>

                </div>


            </div>

        </div>

      </div>

      <!-- the footer part  -->
       <div class="bg-black py-4 md:py-7 w-full text-center text-sm text-white md:text-[16px]">
        <p> &copy; {{currentYear}} MXShop</p>
       </div>
  
  
   


<router-outlet />
