<app-navbar />
<div class="w-full h-[60vh] bg-secondary  grid grid-cols-1 md:grid-cols-2 md:gap-3 px-4 md:px-[3%] xl:px-[8%]">
    <!-- the text box  -->
     <div class="w-full h-full flex items-center justify-center py-5">
        <div class="w-[80%] capitalize text-xl flex flex-col gap-8 justify-center items-center md:items-start">
            <h3>Rich Watch</h3>
            <h1  class="text-3xl md:text-[2.5rem] xl:text-[3.8rem] font-extrabold tracking-wide uppercase">Sale 35% <span class="text-primary line-through">off</span> </h1>
            <p>Make a rich life </p>
            <div>
                <button class="bg-primary text-white py-2 px-5 rounded-sm shadow-lg text-lg">
                    shop now 
                </button>
            </div>
        </div>
     </div>

     <!-- the image  -->
      <div class="w-full h-full overflow-hidden flex items-center justify-center md:justify-start">
        <img src="home-images/hero-image.png" alt="..hero-image" class="h-full w-[80%] object-contain">
      </div>
</div>

<!-- the two boxes  -->
<div class="px-4 md:px-[3%] xl:px-[8%] grid grid-cols-1 md:grid-cols-2 gap-5 py-8 md:py-[4%]">
    <div class="min-h-[18rem] bg-secondary w-full rounded-sm flex items-center">
        <div class="w-1/2 h-full bg-blue-500">
            
        </div>
        <div class="w-1/2 h-full bg-teal-500">

        </div>
        
    </div>
    <div class="min-h-[18rem] bg-secondary w-full rounded-sm flex items-center">
        <div class="w-1/2 h-full bg-blue-500">

        </div>
        <div class="w-1/2 h-full bg-teal-500">

        </div>
    </div>
   </div>


<router-outlet />
